@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#main_div{
    width: 1024px;
    margin:20px  auto;
}

.header_1{
    height: 50px;
    background-color: #162028;
    position: relative;
}

.logotipo{
    margin: 5px 0 0 135px;
}

.menuBar{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
}

.header_1 li{
    list-style: none;
    display: inline-block;  
    margin-right: 0 15px 0 0;
    padding: 13px;
}

.header_1 a{
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing:5px ;
    transition:color 0.3s linear ;
}

.header_1 a:hover{
    color: #f2fafd;
}

.portfolio{
    padding: 50px 100px;
    text-align: center;
}

.portfolio h1{
    font-size: 36px;
    color: #252525;
}

.portfolio p{
    font-size: 16px;
    line-height: 2 ;
    color: #555;
}

.gallery{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}
.gallery-card{
    width: 32%;
    float: left;
    text-align: center;
}

.gallery-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}

.about{
    background-color: #003d52;
    padding: 100px;
    color: aliceblue;
    background-image:url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.about h2{

    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;

}

.about p{
    line-height: 1.5;
    width: 70%;
}

#contact{
    margin: 50px 0;
}
#contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    
}

.maps{
    width: 100%;
    height: 450px;
    margin-bottom: 15px;
}

footer{
    background-color: #0b171f;
    padding: 25px;
    font-size: 12px;
    text-align: center;
    color: #6f8597;
    letter-spacing: 1.5px;
}
